$sans-serif-2: 'Varela Round', sans-serif;

.slides{
	display: table; //helps u easily align to center vertically and horizontally
	height:100%;
	width:100%;
}

.slide{
	display:table-cell; //coz working wit table i.e styling table as mentioned above
	vertical-align: middle; //align to center from top(vertical not horizontal)
	position: relative;
	padding:50px 200px; //btw slides and slide
	font-size: 50px;

	.img{
	  max-width: 100%;
	  height:50%;
      border:2px solid lighten(black, 30%);
	  padding:2px;
	}	

	.bullets {
	  margin-top: -4%;	
	  padding-left: 15%;
		& > li {
		   list-style-type: initial;
		   text-align: left;	
		}
	}
} 

h1, .h1, .normal{
	line-height:1.3em;
	letter-spacing: -1px;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;

    &.medium{
      text-align: left;
	  font-size: 85px;
    }

    &.large{
     text-align: left;
	 font-size: 70px;
    }

    &.x-large{
    	text-align: left;
		font-size: 50px;
    }

}



