@import "bourbon/bourbon";
@import "base/base";
@import "normalise/normalise";
@import "slides/slides";

*{
	@include box-sizing(border-box);
}

body, html{
	height:100%;
	overflow:hidden;
}

body{
	@include radial-gradient(circle at 50% 50%, #ffffff 10%, #1e5799 100%, #efefef);
	//background-color: #292929;
	text-align:center;
	//background:-webkit-radial-gradient(center ,#ffffff 0%, #e66d1a 100%);
}

h1,h2,h3,h4,h5,h5{
	margin-top: 0;
}
